﻿@font-face {
  font-family: 'PFDinTextCompPro-Bold';
  src: url('/wp-content/themes/clean-template/fonts/PFDinTextCompPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('/wp-content/themes/clean-template/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url('/wp-content/themes/clean-template/fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) { /* это будет показано при разрешении монитора до 768 пикселей */
	.top_image .cool_man  { background-size:100% auto; }	
	.phone { font-size:22px; }
	.forma-submit { margin-top:10px; }
}

@media (min-width: 768px) and (max-width: 900px) { /* это будет показано при разрешении монитора от 769 до 900 пикселей */
	.top_image .cool_man  { background-size:100% auto; }	
	.phone { font-size:19px; }
}

@media (min-width: 900px) and (max-width: 1200px) { /* это будет показано при разрешении монитора от 900 до 1200 пикселей */
	.top_image .cool_man  { background-size:100% 100%; }	
	.phone { font-size:19px; }
}

@media (min-width: 1200px) { /* это будет показано при разрешении монитора от 1201 пикселей */
	.top_image .cool_man  { background-size:100% 100%; }	
	.phone { font-size:25px; }
}

html {
	min-width:500px;
}

body {
	padding-right:15px;
}

footer {
	margin-top:20px;
	margin-bottom:20px;
}

#modal_content {
	margin-top:150px;
	background-color:white;
	height:250px;
	text-align:center;
}

.copyrt {
	text-align:center;
	font-family:PTSans-Regular;
	font-size:12px;
	margin-top:15px;
}

.phone {
	font-family:PTSans-Regular; 
	font-weight:bold; 
}

.buttons {
	cursor:pointer;
	padding:6px 0px 6px 0px;
	color:white;
	font-family:Myriad Pro,Regular;
	font-size:14px;	
	background-size:100% 100%; 
	background-image: url(/wp-content/themes/clean-template/images/background_button.png);
	background-repeat:no-repeat;
	text-align:center;
} 

.top_image .buttons {
	margin-bottom:30px;
} 

.top_image {
	color:white;
	background-size:100% 100%; 
	background-image: url(/wp-content/themes/clean-template/images/background_top.png);
	background-repeat:no-repeat;
	margin-right:-30px;
} 

.top_image .cool_man {
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(/wp-content/themes/clean-template/images/man.png);
	background-repeat:no-repeat;
	background-position: bottom;
	height:100%;
	
} 

.top_image .header_text {
	font-family:PFDinTextCompPro-Bold;
	font-size:42px;
}

.top_image .description_text {
	font-family:PTSans-Regular;
	font-size:18px;
	margin:50px 0px 30px 0px;
}

.menu {
	background-color:#ed6e03; 
	color:white; 
	margin-top:10px;
}

.menu .item {
	padding-left:0px; 
	padding-right:7px; 
	text-align:center; 
	margin:10px 0px 10px 0px;
}

.menu .item a {
	color:white; 
	font-family:PTSans-Regular; 
	font-size:16px;
}

.menu .item a.selected {
	text-decoration:underline;
}

.block_header {
	font-family:PFDinTextCompPro-Bold;
	font-size:42px;
	color:#303030;
	margin:30px 0px 30px 0px;
}

.mini_title {
	font-family:Myriad Pro,Regular;
	font-size:24px;
	color:#e21419;
}

.mini_description {
	font-family:Myriad Pro,Regular;
	font-size:16px;
}

.forms {
	background-size:100% 100%; 
	background-image: url(/wp-content/themes/clean-template/images/background_form.png);
	background-repeat:no-repeat;
	padding:30px 0px 30px 0px;
} 

.forms .questions {
	font-family:PFDinTextCompPro-Bold;
	font-size:42px;
	color:white;
	margin-bottom:25px;
} 

.forma-field, .forma-field-call {
	font-family:PTSans-Regular;
	width:100%;
}

.forma-submit, .forma-submit-call {
	color:white;
	font-family:PTSans-Bold;
	font-size:16px;
	width:100%;
}

.forma-submit {
	background-color: transparent;
	border:1px white solid;
}

.forma-submit-call {
	background-color: #ed6e03;
	border:1px #ed6e03 solid;
	margin-top:20px;
}

.howwework {
	margin-bottom:25px;
}

.howwework .image {
	padding-left:0px;
	padding-right:0px;
} 

.howwework .arrow {	
} 

.howwework .mini_description {
} 

.howwework .texts .vcenter {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.howwework .images .vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.testimonals .name {
	font-family:PTSans-Bold; 
	font-size:14px;
} 

.testimonals .text {
	font-family:PTSans-Regular; 
	font-size:12px;
	padding-right:0px;
}

.testimonals .image {
	padding:0px;
}

.contacts {
}

#map-location {
	height:400px;
	padding:0px 30px 0px 30px;
}

.services {
	margin-bottom:25px;
}

.services .content {	
	font-family:PTSans-Regular; 
	font-size:12px;
	color:#303030;
	padding:0px;
	width:27%;
}

.services .nocontent {	
	padding:0px;
	width:5%;
}

.services .content div {
	margin-top:10px; 
	height:35%;
	width:85%; 
	overflow:hidden; 
	padding-left:15%;
}

.services table {
	width:100%; 
	margin-left:4%; 
	margin-right:4%;
}

/* Для старой верстки услуг */
/*.services table td {
	background-size:100% 100%; 
	background-repeat: no-repeat;
	padding:10px 10px 10px 10px; 
	font-family:PTSans-Regular; 
	font-size:12px;
	color:#303030;
}

.services table td.content {
	height:200px; 
	min-width:100px;
	max-width:300px;
	min-height:100px;
	max-height:300px;
}

.services table td.content div {
	margin-top:10px; 
	height:35%;
	width:85%; 
	overflow:hidden; 
	padding-left:15%;
}*/